

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #000000;
}


/* body {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:33% 0%}
  50%{background-position:68% 100%}
  100%{background-position:33% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:33% 0%}
  50%{background-position:68% 100%}
  100%{background-position:33% 0%}
}
@keyframes AnimationName {
  0%{background-position:33% 0%}
  50%{background-position:68% 100%}
  100%{background-position:33% 0%}
} */


